In [3]:
import tushare as ts

In [7]:
df = ts.get_hist_data(code='600600')
df

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2022-02-21,97.01,97.20,95.22,94.55,23663.97,-1.08,-1.12,96.030,93.540,92.890,34807.42,48203.73,47680.93,0.34
2022-02-18,95.88,97.52,96.30,94.60,29747.03,-0.09,-0.09,95.964,93.182,92.588,47388.11,50280.72,48833.47,0.43
2022-02-17,97.50,97.50,96.39,95.26,31959.23,-0.22,-0.23,94.706,92.773,92.284,49840.72,50540.05,51193.30,0.46
2022-02-16,95.63,97.49,96.61,94.74,39809.71,0.98,1.02,93.328,92.431,91.926,57664.02,49705.75,51780.16,0.57
2022-02-15,94.30,96.95,95.63,94.28,48857.16,0.74,0.78,92.260,92.168,91.633,61810.72,49083.72,53968.24,0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-30,54.30,54.31,52.82,52.55,86469.39,-1.48,-2.73,52.700,52.700,52.700,70886.10,70886.10,70886.10,1.24
2019-08-29,52.42,54.54,54.30,51.91,103378.32,2.10,4.02,52.670,52.670,52.670,66990.28,66990.28,66990.28,1.49
2019-08-28,52.11,52.85,52.20,51.55,47581.32,0.12,0.23,52.127,52.127,52.127,54860.93,54860.93,54860.93,0.68
2019-08-27,52.39,52.88,52.08,51.80,57469.55,-0.02,-0.04,52.090,52.090,52.090,58500.74,58500.74,58500.74,0.83
2019-08-26,52.10,52.50,52.10,51.02,59531.93,-0.60,-1.14,52.100,52.100,52.100,59531.93,59531.93,59531.93,0.86

In [6]:
conn = ts.get_apis()

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

In [16]:
df = ts.bar(code='600848', conn=ts.get_apis(), freq='1min')
df

本接口即将停止更新，请尽快使用Pro版接口：https://tushare.pro/document/2

,code,open,close,high,low,vol,amount,p_change
datetime,,,,,,,,
2022-02-21 15:00:00,600848,14.65,14.65,14.65,14.65,1.469000e+03,2.152084e+06,-0.07
2022-02-21 14:59:00,600848,14.66,14.66,14.66,14.66,5.877472e-41,5.877472e-39,0.00
2022-02-21 14:58:00,600848,14.66,14.66,14.66,14.66,1.000000e+00,1.468000e+03,0.00
2022-02-21 14:57:00,600848,14.64,14.66,14.66,14.64,5.390000e+02,7.889960e+05,0.07
2022-02-21 14:56:00,600848,14.64,14.65,14.65,14.63,6.100000e+02,8.935800e+05,0.07
...,...,...,...,...,...,...,...,...
2021-09-29 09:35:00,600848,14.98,15.00,15.00,14.97,4.130000e+02,6.187080e+05,0.13
2021-09-29 09:34:00,600848,14.97,14.98,15.02,14.95,8.120000e+02,1.215447e+06,0.07
2021-09-29 09:33:00,600848,15.00,14.97,15.00,14.96,5.360000e+02,8.025690e+05,-0.07
2021-09-29 09:32:00,600848,14.98,14.98,15.02,14.98,7.500000e+01,1.125120e+05,0.00
2021-09-29 09:31:00,600848,15.04,14.98,15.04,14.97,5.980000e+02,8.969360e+05,NaN

In [17]:
import tushare.stock.classifying as tsc
df = tsc.get_concepts()
df

      concept change  up down top_code top_name
0        昨日连板   6.99   6    6   002621      美吉姆
1        在线旅游   4.62  13    4   000978     桂林旅游
2        盲盒经济   3.88  10    1   002348     高乐股份
3        退税商店   3.69  10    0   002187     广百股份
4    昨日连板_含一字   3.60  10    7   002621      美吉姆
..        ...    ...  ..  ...      ...      ...
345     HIT电池  -1.46   7   16   002309     中利集团
346      新冠药物  -1.46  11   14   301089     拓新药业
347     上证50_  -1.66   9   40   600030     中信证券
348      低碳冶金  -2.18   3    5   600388     龙净环保
349       GDR  -2.30   0    4   600900     长江电力

[350 rows x 6 columns]